*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.watermark {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 14px;
    pointer-events: none;
    opacity: 0.5;
    letter-spacing: 2px;
}
