*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.watermark {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100; 
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5); 
  padding: 8px 12px;
  border-radius: 5px;
  transition: opacity 0.3s;
  pointer-events: auto; 
  opacity: 0.5;
}
